<nav>
  <div class="site-title">
    <a href="/"><h1>ReinstyrDB</h1></a>
  </div>
  <ul>
    <li><a href="/">Søk</a></li>
    <li><a href="/Om">Om</a></li>
    <li><a href="/kart">Kart</a></li>
  </ul>
</nav>