<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="SearchDiv">
    <form class="søkefelt">
      <input class="søkefelt" type="text" placeholder="Search here" name="search">
      <button class="submit">Søk</button>
    </form>
  </div>
  <div class="output">
  </div>


  <%- include("./partials/footer.ejs") %>
</body>
</html>