<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="map">
    <img src="./img/Screenshot_3.png" alt="Samiske språk">

    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>