<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>



    <div class="about">
      <h2>Hva brukes dette til?</h2>
          <p>Denne siden brukes til 책 finne diverse reinsdyr flokker, hvor de lever og deres eiere. Databasen som brukes p책 nettsiden er ikke ferdig enn책, s책 noen reinstyr mangler fortsatt.
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>