@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: capitalize;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .blogs a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }
/* Style the search div container */
.SearchDiv {
  width: 50%;
  margin: 0 auto; /* Center the div on the page */
  text-align: center; /* Center the text within the div */
}

/* Style the form elements */
.søkefelt {
  display: inline-block; /* Display the form elements on the same line */
  width: 80%; /* Make the form elements take up 80% of the container's width */
  margin: 10px auto; /* Add some margin to the form elements */
}

/* Style the input field */
input.søkefelt {
  padding: 12px 20px; /* Add some padding to the input field */
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 4px; /* Round the corners of the input field */
}

/* Style the submit button */
button.submit {
  background-color: #17b7cf; /* Change the background color of the button */
  color: white; /* Change the text color of the button */
  padding: 12px 20px; /* Add some padding to the button */
  border: none; /* Remove the default border */
  border-radius: 4px; /* Round the corners of the button */
  cursor: pointer; /* Change the cursor to a hand when hovering over the button */
}

/* Add hover effect to the submit button */
button.submit:hover {
  background-color: #06a0b8; /* Change the background color when hovering over the button */
}

.output{
  text-align: center;
  padding: 5px solid;
}